@signetic-mvs:registry=https://npm.pkg.github.com/

//npm.pkg.github.com/:_authToken={GH_TOKEN}

# use-node-version=18.20.4
# strict-peer-dependencies=false
# link-workspace-packages=false
# shared-workspace-lockfile=true

# Sawan: I couldn't get it to work without shamefully hoisting everything to node_modules. Probably not the best
# approach. Need to look for alternative way in the future
shamefully-hoist=true

node-version=>=18.20.8